* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
}

body {
  justify-content: center;
  background-color: #121212;
}

/* container styles for all pages styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #1e293b;
  background-image: url("../img/background-3.jpg");
}

/* tools or fix navigation on the top  */
.container .tools {
  display: flex;
  background-color: #313c4b;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.tools1 {
  margin-left: 30px;
  padding: 15px 20px;
}

.tools1 input {
  background-color: #2a2f3a;
  color: #e5e7eb;
  border: 1px solid #3b4252;
  padding: 12px;
  height: 25px;
}

.tools1 input:focus {
  border: 1px solid #3b82f6;
  outline: none;
  background-color: #1e2530;
  box-shadow: 0 2px 8px #3b82f6;
}

.tools1 a {
  margin-left: 70px;
  font-weight: bold;
  color: #3b82f6;
}

.container .tools .tools1 img {
  width: 25px;
  margin-right: 50px;
}

/* navigation bar styles or menu  */
.navigation {
  width: 90%;
  margin-top: 30px;
  height: 40px;
  background-color: #29313d;
  position: sticky;
  top: 2px;
  z-index: 2;
  border-radius: 5px;
}
.navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin-left: 40px;
}

.navigation ul li {
  /* margin: 10px; */
  border-right: 1px solid rgb(75, 60, 60);
  padding: 10px;
  transition: 0.4s;
}

.navigation ul li a {
  color: #e5e7eb;
}

.navigation ul li:hover {
  background-color: #608acc;
  padding: 10px 10px;
  border-radius: 5px;
}

/* home page or first page of website styles */
.home-page {
  width: 100%;
  height: 90vh;
  font-size: 40px;
  color: #626b80;
  display: flex;
  flex-direction: column;
  justify-content: center; /* عمودی وسط */
  align-items: center; /* افقی وسط */
  text-align: center;
}

.home-page h1 {
  text-align: center;
}
.home-page h3 {
  text-align: center;
  font-size: 35px;
}

.home-page p {
  width: 700px;
  font-size: 25px;
  text-align: center;
}

.home-page .learn-btn {
  color: #c7d5f5;
  font-size: 15px;
  font-weight: bold;
  background-color: #3b82f6;
  padding: 10px 15px;
  border-radius: 15px;
  transition: 0.4s;
  margin-top: 20px;
}

.home-page .learn-btn:hover {
  scale: 1.1;
  color: #121212;
}

/* content or templet this is generall for all pages styles */
.content-1 {
  position: relative;
  border-radius: 5px;
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #e5e7eb83;
  margin-top: 150px;
}

/* card or box for my product and salles common styles  */
.card-title {
  position: relative;
  top: 80px;
  text-align: center;
  font-size: 50px;
  color: #e5e7eb83;
  top: 250px;
}
.card {
  position: relative;
  width: 25%;
  height: 400px;
  max-width: 360px;
  text-align: center;
  padding: 20px 5px;
  border-radius: 15px;
  background-color: #313c4b;
  box-shadow: 0 3px 8px black;
  color: #e5e7eb83;
  transition: 0.2s;
  top: 50px;
}

.card img {
  width: 80%;
  /* height: 250px; */
  border-bottom: 2px solid #272a2e;
  padding: 1px;
  /* border: 1px solid black; */
  box-shadow: inset 0 2px 8px black;
  background-color: #39424e;
}

.card h3 {
  margin-top: 10px;
}
.card p {
  margin: 10px;
}

.card:hover {
  scale: 1.02;
  background-color: #4b5461;
  cursor: pointer;
}

/* about page general stules */
.content-1 .about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 150px;
  width: 80%;
  text-align: center;
}

.content-1 .about-img {
  display: flex;
  gap: 30px;
}
.content-1 .about-img img {
  width: 200px;
  height: 200px;
}

.content-1 .about-img .img {
  text-align: center;
  font-size: 25;
  font-weight: bold;
  margin-top: 80px;
}

.content-1 .about-img .img img {
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0 4px 8px black;
  background-color: #3b4252;
  margin: 20px;
}

/* box or suggistions Hide-form styles */
.pop-up {
  position: fixed;
  width: 270px;
  height: 320px;
  border: 5px solid rgb(102, 96, 96);
  /* margin-left: -1650px; */
  margin-left: -1625px;
  /* margin-left: -1000px; */
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313c4b;
  color: white;
  border-radius: 10px 5px 5px 10px;
  gap: 10px;
  transition: 0.7s;
  z-index: 3;
}

.pop-up h5 {
  color: #626b80;
}

.pop-up hr {
  width: 80%;
  margin-bottom: 2px;
  border: none;
  height: 2px;
  background-color: #626b80;
}

.pop-up input {
  width: 80%;
  height: 35px;
  border-radius: 7px;
  padding: 7px;
  /* background-color: #515868; */
  background-color: #2a2f3a;
  color: rgb(255, 254, 252);
  font-size: 15px;
}

.pop-up .text-erea {
  width: 80%;
  height: 100px;
}

.sidebar-btn {
  position: absolute;
  writing-mode: vertical-rl; /* متن عمودی */
  background-color: #727f94;
  color: #fff;
  padding: 30px 10px;
  font-weight: bold;
  cursor: pointer;
  left: 263px;
  border-radius: 5px;
}

.pop-up:hover {
  transform: translateX(260px);
}

.pop-up input[type="text"]:focus {
  border: 1px solid #3b82f6;
  outline: none;
  background-color: #1e2530;
  box-shadow: 0 2px 8px #3b82f6;
}

.pop-up input[type="email"]:focus {
  border: 1px solid #3b82f6;
  outline: none;
  background-color: #1e2530;
  box-shadow: 0 2px 8px #3b82f6;
}

.pop-up input[type="submit"] {
  color: #bbc4da;
}

.pop-up input[type="submit"]:hover {
  background-color: #727f94;
  font-size: 16px;
}
